.navegacao {
   
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.item-menu {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
@media (min-width:700px) {
    .logo-principal {
        max-width: 100px;
    }
}

@media (max-width:700px) {
    .logo-principal {
        max-width: 100px;
        margin-left:10px;
    }
    .menu{
        margin-right: 10px;
    }
}